@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}

:root {
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
  --border: #00FF00;
  --2px: 0.125rem;
  --6px: 0.375rem;
  --10px: 0.625rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --30px: 1.875rem;
  --40px: 2.5rem;
  --60px: 3.75rem;
  --128px: 8rem;
  --348px: 31.75rem;
}

@media (max-width: 1120px) {
  html {
    font-size: 77.77%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 50%;
  }
}

body {
  background: var(--body-bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

div {
  background: var(--bg-cards);
  padding: var(--30px);
  border-radius: var(--20px);
  box-shadow: var(--2px) var(--2px) var(--2px) rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-size: var(--20px);
  font-weight: bold;
}

span {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: filter 0.2s;
}
a:hover {
  filter: brightness(0.8);
}

main {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: var(--40px);
  gap: var(--60px);
}
main aside {
  display: flex;
  flex-direction: column;
  gap: var(--30px);
  flex-basis: 26.75%;
}
main aside .userInfo {
  display: flex;
  flex-direction: column;
  gap: var(--10px);
  align-items: center;
}
main aside .userInfo img {
  width: var(--128px);
  height: var(--128px);
  border-radius: 50%;
  border: 2px solid var(--border);
}
main aside .userInfo h1 {
  font-size: var(--23px);
}
main aside .userInfo span {
  font-size: var(--13px);
  font-weight: 300;
}
main aside .userContacts {
  display: flex;
  flex-direction: column;
  gap: var(--23px);
  padding: var(--30px) var(--40px);
}
main aside .userContacts div {
  padding: 0;
  box-shadow: none;
}
main aside .userContacts .contacts, main aside .userContacts a {
  display: flex;
  align-items: center;
  gap: var(--22px);
}
main aside .userContacts span {
  font-size: var(--13px);
  font-weight: 400;
}
main aside .asideHeader {
  display: flex;
  flex-direction: column;
  padding: var(--30px);
  gap: var(--20px);
}
main aside .asideHeader div {
  padding: 0;
  box-shadow: none;
}
main aside .asideHeader .technologies {
  display: flex;
  flex-wrap: wrap;
  gap: var(--15px);
}
main aside .asideHeader .technologies div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-techs);
  padding: var(--6px 0);
  width: 28%;
  height: var(--24px);
}
main aside .asideHeader .technologies div span {
  font-weight: bold;
  font-size: var(--10px);
  color: black;
}
main aside .experiencesAndEducation {
  display: flex;
  flex-direction: column;
  gap: var(--20px);
}
main aside .experiencesAndEducation div {
  padding: 0;
  box-shadow: none;
}
main aside .experiencesAndEducation ul {
  margin-left: var(--40px);
}
main aside .experiencesAndEducation ul li div {
  display: flex;
  flex-direction: column;
}
main aside .experiencesAndEducation ul li div span:nth-child(1) {
  font-weight: bold;
  font-size: var(--14px);
}
main aside .experiencesAndEducation ul li div span:nth-child(2) {
  font-weight: 300;
  font-size: var(--12px);
}
main aside .experiencesAndEducation ul li div span:nth-child(3) {
  font-weight: 400;
  font-size: var(--12px);
}
main section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--30px);
  /* 
  <button type="button">
        <div class="repository">
          <div>
            <img src="./assets/folder.svg" alt="Ícone de pasta">
            <h1>repo-name</h1>
          </div>
          <span>Descrição do repositório</span>
          <div class="repo-footer">
            <div class="engages">
              <img src="./assets/star.svg" alt="Ícone de estrela">
              <span>100</span>
              <img src="./assets/git-branch.svg" alt="Ícone de branch">
              <span>100</span>
            </div>
            <div class="language">
              <img src="./assets/elipse.svg" alt="Ícone de elipse">
              <span>Javascript</span>
            </div>
          </div>
        </div>
    </button>

  */
}
main section .sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section .sectionHeader span {
  font-size: var(--14px);
  font-weight: 400;
}
main section .repositories {
  box-shadow: none;
  background: none;
  padding: 0;
  display: flex;
  gap: var(--30px);
}
main section .repositories button {
  flex: 1;
  cursor: pointer;
  background: none;
  border: none;
}
main section .repositories .repository {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--30px);
  gap: var(--20px);
}
main section .repositories .repository div {
  box-shadow: none;
  padding: 0;
}
main section .repositories .repository .repo-name {
  flex: 1;
  display: flex;
}
main section .repositories .repository .repo-description {
  text-align: left;
}
main section .repositories .repository .repo-footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--20px);
}
footer span {
  font-weight: 400;
  font-size: var(--14px);
}

/*# sourceMappingURL=style.css.map */
